* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 1px;
    gap: 10px;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

.navbar__s1__title {
    color: mediumpurple;
    font-weight: bolder;
}

.navbar__s2 {
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 60%;
    display: flex;
    gap: 10px;
    font-size: 16px;
    align-items: center;
}

.navbar__s2 input {
    border: none;
    width: 100%;
    background-color: transparent;
}

.navbar__s2 input {
    outline: none;
}

.navbar__s3 {
    display: flex;
    align-items: center;
    gap: 13px;

}

/* My Learing Popup */

.mylearning{
    position: relative;
    cursor: pointer;
}

.mylearning__popup{
    position: absolute;
    background-color: white;
    border: solid black 1px;
    width: 100px;
    top: 150%;
    padding: 10px;
    right: 0;
    border-radius: 25px;
    display: none;
}

.mylearning:hover .mylearning__popup{
    display: block;
}

.catagories {
    display: flex;
    padding: 10px;
    border-bottom: solid black 1px;
    justify-content: space-around;
}

.catagories p {
    background-color: grey;
    color: black;
    padding: 10px;
    border-radius: 30px;
}

.sale_image img {
    width: 100%;
}

.sale_image{
    position: relative;
}

.sale_image__offer{
    width: 35%;
    border: solid black 2px;
    padding: 2%;
    position: absolute;
    top: 60px;
    left: 10px;
    background-color: rgb(244, 232, 221);
}

.recommended {
    padding: 10px;
}

.recommended__title {
    margin-left: 20px;
    padding: 20px;
}

.recommended__container {
    margin-top: 10px;
    display: flex;
    gap: 20px;
    padding: 50px;
    justify-content: space-between;
}

.course-card {
    width: 200px;
    height: 400px;

}

.course-card img {
    height: 65%;
    width: 100%;
}

.topics {
    padding: 10px;
}

.topics__container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;

}

.topics__container p {
    border: solid grey 2px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
}

.popular {
    padding: 10px;
}

.popular__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    justify-content: space-between;
    margin-top: 10px;
}

.footer__one {
    display: flex;
    gap: 10px;
}

.footer__two {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    align-items: center;
}

.footer {
    padding: 30px;
    background-color: black;
    color: white;
}

.footer__one p {
    margin: 20px;
}